:root {
    --transition: .3s;
    --delay: 1s;
}

.video-search__root {
    transition: var(--transition);
    cursor: pointer;
    position: relative;
    padding-bottom: 64px;
    transform-origin: top;
}

.video-search__info {
    transition: .2s;
}

.video-search__channel-logo {
    transition: var(--transition);
    flex-shrink: 0;
    background-color: gray;
    margin-right: 16px;
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
}

.video-search__buttons {
    display: flex;
    transition: var(--transition);
    height: 0;
    overflow: hidden;
    position: absolute;
    padding: 0 16px;
    bottom: 16px;
    left: 0;
    width: calc(100% - 32px);
}

.video-search__button {
    margin-left: 12px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
}

.video-search__button:first-child {
    margin-left: 0;
}

.video-search__root:hover {
    transition: var(--transition);
    transform: scale(1.15);
    background-color: white;
    box-shadow: 0 0 32px 0 #6e6e6e;
    transition-delay: var(--delay);
    padding-bottom: 64px;
    z-index: 10;
}

.video-search__root:hover .video-search__channel-logo {
    width: calc(48px / 1.15);
    height: calc(48px / 1.15);
    transition-delay: var(--delay);
}

.video-search__root:hover .video-search__info {
    padding: 0 16px;
    transition-delay: var(--delay);
}
.video-search__root:hover .video-search__buttons {
    height: 42px;
    transition-delay: var(--delay);
}
